<mat-card class="card mat-elevation-z8">
    <mat-card-header>
      
      <mat-card-title>Motolivre</mat-card-title>
      <mat-card-subtitle>Dicas de um sei la</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/home.svg" alt="Image HoemMotolivre">
    <mat-card-content>
        <p>
            Olá! Seja bem vindo ao Motolivre .<br />
             <br />Temos como objetivo ajudar as pessoas que procura um serviço de entrega tanto para o motoboy quanto
             para comercio, ainda em desenvolvimento pretendemos melhorar nossa interface para algo mais facil e elaborado.
            <br /><br /> Fique a vontade para testar o sistema e deixar sua sugestão.
            <br /> At.te: Alunos do 6 semestre.
           </p>
    </mat-card-content>
  </mat-card>