.container{
    height: 100%;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 68%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
    width: 25rem;
    margin: auto;
    background-color:rgb(206, 203, 203);
    padding: 4rem 1rem;
    border-radius: 1rem;
}

h1{
    width: 100%;
    text-align: center;

}

img{
    height: 9rem;
    width: 50%;
    margin-left: 6rem; 
    margin-top: 1rem;  
}


  .bloco {
    width: 400px;
    margin: 15px;
  }
  .bloco img{
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
  }
  .bloco img:hover {
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
  }


.full-width{
    width: 100%;
    margin-top: 0.5rem;
    color: black; 
}

button{
    margin-top: 1.5rem;

}
.texto{
    color: black;
}
p{
    margin-top: 1rem;
}
  h1 {
    color: #380ff1;
    font-size: 3rem;
    text-transform: uppercase;
    display: block;
    width: 100%;
    text-align: center;
  }
   
  
  p {
    color: #0d0b01;
    font-size: 1.2rem;
    width: 100%;
    padding: 20px;
    
  } 
  mat-icon{
    color: #380ff1;
    padding: 20px;
  }
  .noop{
    margin-left: 8px;
    background-color: rgb(124, 163, 163);
  }