<div class="container mat-elevation-z8">
    <h1 class="full-width">Atualizando Chamado</h1>
    <img class="full-width" src="assets/img/chamado-create.svg" alt="chamado-create">

    <form class="form">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Titulo Chamado</mat-label>
          <input 
          [(ngModel)]="chamado.titulo"
          name="titulo"
          [formControl]="titulo" 
          required
          matInput 
          placeholder="Ex. Ir no Carlão" >
        </mat-form-field>      
    </form>

    <div class="status-prioridade">
        <mat-form-field appearance="outline">
            <mat-label>STATUS  ({{retornaStatus(chamado.status)}})</mat-label>
            <mat-select 
            [(ngModel)]="chamado.status"
            name="status"
            [formControl]="status" 
            required >
              <mat-option value="0">Aberto</mat-option>
              <mat-option value="1">Andamento</mat-option>
              <mat-option value="2">Encerrado</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>PRIORIDADE ({{retornaPrioridade(chamado.prioridade)}})</mat-label>
            <mat-select 
            [(ngModel)]="chamado.prioridade"
             name="prioridade"
            [formControl]="prioridade" 
            required>
              <mat-option value="0">Baixa</mat-option>
              <mat-option value="1">Media</mat-option>
              <mat-option value="2">Alta</mat-option>
            </mat-select>
          </mat-form-field>
    </div>

    <div class="estabelecimento">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>ESTABELECIMENTO({{chamado.nomeEstabelecimento}})</mat-label>
            <mat-select
            [(ngModel)]="chamado.estabelecimento"
             name="estabelecimento" 
            [formControl]="estabelecimento" 
            required>
              <mat-option *ngFor="let est of estabelecimentos" value="{{est.id}}">{{est.nome}}</mat-option>
            </mat-select>
          </mat-form-field>
    </div>

    <div class="motoboy">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>MOTOBOY({{chamado.nomeMotoboy}})</mat-label>
            <mat-select 
            [(ngModel)]="chamado.motoboy"
           name="motoboy"
            [formControl]="motoboy" 
            required>
              <mat-option *ngFor="let mot of motoboys" value="{{mot.id}}">{{mot.nome}}</mat-option>
            </mat-select>
          </mat-form-field>
    </div>

    <form class="form">      
        <mat-form-field class="full-width " appearance="outline">
          <mat-label>Deixe uma observação</mat-label>
          <textarea
          [(ngModel)]="chamado.observacoes"
          name="observacoes" 
          [formControl]="observacoes"
           required
          class="observacoes" 
          matInput 
          placeholder="Ex. Das 19:00 as 23:00"></textarea>
        </mat-form-field>
    </form>

    <button (click)="update()" [disabled]="!validaCampos()" class="add mat-elevation-z8" mat-raised-button color="primary">Atualizar</button>
    
    <button routerLink="../ ../" class="fullWidth" mat-elevation-z8 mat-flat-button color="warn">Cancelar</button>

    <p class="full-width ">Desenvolvido by allne</p>
</div>

